@define-color rg_theme_fg_color @theme_fg_color;
@define-color rg_theme_bg_color @theme_bg_color;
@define-color rg_theme_base_color @theme_base_color;

* {
  transition: background 0;
}

window.ragged-terminal headerbar.titlebar {
  background: darker(@rg_theme_base_color);
  color: @rg_theme_fg_color;
  border-bottom: none;
}

headerbar.slim,
.titlebar.slim {
  min-height: 0;
  padding: 8px 2px;
}

button {
  -gtk-icon-shadow: none;
}

tabbar,
tabbox,
tab,
tabbar box {
  border: none;
  background: transparent;
}

tab {
  background: transparent;
}

tab:checked {
  background: @rg_theme_base_color;
}

tab,
tabbar * {
  color: @rg_theme_fg_color;
}

window.single-tab tab,
window.single-tab headerbar.titlebar {
  background: @rg_theme_base_color;
}

.end-action {
  background: transparent;
}

.end-action,
.end-action * {
  border: none;
  box-shadow: none;
}

.end-action button {
  margin-left: 6px;
}

.end-action button:not(:hover):not(:active) {
  background: transparent;
}
